.container-popup{
    width: 40%;
}
.overlay__title{
    font-size: 14px;
    font-family: 'Gagalin-Regular';
    color: #2F3234;
    margin-bottom: rem(15px);
}
.overlay__text{
    font-size: 14px;
    font-family: 'Ubuntu-Light';
    color: #2F3234;
    line-height: 1.6;
}